/* BS Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@400;700&display=swap"); /* Styles */
/* Kanit for Brand Name */
/* Poppins for text */

/* Colour */
:root {
  --bs-yellow: #fcf404;
}

/* Styles */

body {
  background-color: #000;
}

/* Styles - Navigation */

.navbar-brand {
  color: var(--bs-yellow);
  letter-spacing: 3px;
  font-size: 2.5em;
  font-family: "Kanit";
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:visited {
  color: var(--bs-yellow);
}

.nav-item a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  font-family: "Poppin";
}

.nav-signIn {
  width: 6.25rem;
  color: white;
  font-size: 1.3em;
  font-family: "Poppin";
}

.dropdown-toggle::after {
  display: none;
}
/* End of Navbar */
/* Showcase */

.img-col img {
  width: 35rem;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #ccc;
}

.display-title {
  font-size: 2em;
  line-height: 49px;
  font-weight: 700;
  color: white;
  font-family: "Poppin";
}

.display-categories {
  font-size: 1.2em;
  color: rgba(214, 210, 210, 0.812);
  margin-bottom: 2rem;
  font-family: "Poppin";
}

.display-description {
  font-family: "Poppin";
  font-size: 1.4em;
  width: 31rem;
  color: white;
}

/* Alert */
.alert {
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 0;
}

/* Trending */
.movies-title {
  font-family: "Kanit";
  color: white;
  margin-bottom: 25px;
}

.card {
  width: fit-content;
  border-radius: 25px;
  opacity: 0.8;
  transition: 0.75s;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.02);
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-item,
.carousel-inner,
.carousel {
  border-radius: 25px;
}

.card-popular-thumb-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-popular-thumb-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-popular-thumb-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-popular-thumb-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-popular-thumb-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-5.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-popular-thumb-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-6.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-popular-thumb-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/Popular/thumbnail-7.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card-new-thumb-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-new-thumb-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-new-thumb-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-new-thumb-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-new-thumb-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-5.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-new-thumb-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-6.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-new-thumb-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(images/thumbnail/New/thumbnail-7.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  cursor: pointer;
  width: 500px;
  height: 400px;
}

.card-img-overlay h1 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.card-img-overlay p {
  font-size: 1.2rem;
  opacity: 0.8;
}
/* Media Queries */

/* Large Breakpoint */
@media only screen and (max-width: 991px) {
  body {
    background-color: green;
  }
  /* Nav */

  /* Showcase */
  .display-description {
    font-size: 1.4em;
    width: 100%;
    min-width: 21rem;
  }
}

/* Medium Breakpoint */
@media only screen and (max-width: 767px) {
  body {
    background-color: salmon;
  }
  /* Nav */
  /* Nav */
  .nav-signIn {
    display: none;
  }

  .dropdown-signIn {
    display: block !important;
  }

  .navbar-nav {
    margin-right: -70px;
  }

  .img-col img {
    width: 45rem !important;
  }

  .navbar-brand {
    margin-left: 80px;
  }

  .navbar-expand .navbar-nav .dropdown-menu {
    top: 10px !important;
    right: -74px !important;
  }

  /* Showcase */
  .row-showcase {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .img-col img {
    margin-bottom: -2rem;
  }

  .disp-col {
    text-align: center;
    align-items: center;
  }

  .display-description {
    display: none;
  }

  .display-categories {
    margin-bottom: 15px;
  }

  .alert {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* Small Breakpoint */
@media only screen and (max-width: 575px) {
  body {
    background-color: darkorchid;
    overflow-x: hidden;
  }
  /* Nav */
  .nav-signIn {
    display: none;
  }

  .dropdown-signIn {
    display: block !important;
  }

  .navbar-nav {
    margin-right: -70px;
  }

  .img-col img {
    width: 45rem !important;
  }

  .navbar-brand {
    margin-left: 80px;
  }

  .navbar-expand .navbar-nav .dropdown-menu {
    top: 10px !important;
    right: -74px !important;
  }

  /* Showcase */
}
