/* BS Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:wght@400;700&display=swap"); /* Styles */
/* Kanit for Brand Name */
/* Poppins for text */

/* Colour */
:root {
  --bs-yellow: #fcf404;
}

/* Styles */

body {
  background-color: #000;
}

/* Styles - Navigation */

.navbar-brand {
  color: var(--bs-yellow);
  letter-spacing: 0.1875rem;
  font-size: 2.5rem;
  font-family: "Kanit";
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:visited {
  color: var(--bs-yellow);
}

.nav-item a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  font-family: "Poppin";
  opacity: 0.9;
}

.nav-signIn {
  width: 6.25rem;
  color: white;
  font-size: 1.3rem;
  font-family: "Poppin";
  opacity: 0.9;
}

.nav-signIn:hover,
.search-btn:hover,
#dropdown-menu:hover > .dropdown-toggle {
  opacity: 0.6;
}

.dropdown-toggle::after {
  display: none;
}
/* End of Styles - Navigation */

/* Sign in Area */

.modal-content {
  background-color: black;
  color: white;
  width: 41rem;
}

.signInArea {
  border-radius: 8px;
  box-shadow: 1px 2px 5px 5px rgba(122, 121, 121, 0.241);
}

.signInTitle {
  font-family: "Poppin";
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 41px;
  color: var(--bs-yellow);
}

.registInput {
  font-family: "Poppin";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  padding: 13px 20px;
  border-radius: 8px;
  margin-bottom: 24px;
  border: 1.5px solid black;
}

.switchCheckbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
}

.signInBtn {
  font-family: "Poppin";
  font-weight: 500;
  font-size: 1.15rem;
  width: 100%;
  border-radius: 8px;
  color: var(--bs-yellow);
  border: 2px solid var(--bs-yellow);
  margin-bottom: 1rem;
}

.signUpBtn {
  font-family: "Poppin";
  font-size: 1.15rem;
  width: 100%;
  text-decoration: none;
  background-color: var(--bs-yellow);
  color: black;
  margin-bottom: 1rem;
}

.form-check-input:checked {
  background-color: var(--bs-yellow);
  border-color: var(--bs-yellow);
}

.or {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppin";
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.btnContinue {
  font-family: "Kanit";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.btn-close-signIn {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  opacity: 0.9;
}

.modal {
  --bs-modal-width: 41.25rem;
}

.modal-content {
  background-color: black;
  color: white;
  width: 41rem;
}

.modal-body {
  margin-top: -10.625rem;
}

.modal-body-button {
  display: flex;
  gap: 0.9375rem;
  justify-content: end;
}

/* End of Sign in Modal */

/* Styles - Breadcrumbs */
.active-breadcrumb {
  color: white !important;
  font-size: 1.1rem;
  font-family: "Poppin";
  opacity: 0.9;
}

.active-breadcrumb::before {
  --bs-breadcrumb-divider-color: white;
}

.inactive-breadcrumb a {
  color: white !important;
  font-size: 1.1rem;
  font-family: "Poppin";
  opacity: 0.7;
}

.profile-title {
  font-family: "Kanit";
  color: white;
  opacity: 1;
  margin-bottom: 1.5625rem;
  font-size: 2rem;
  text-align: center;
}

.profile-text {
  color: white;
  font-family: "Poppin";
  text-align: start;
  font-size: 1.2rem;
  opacity: 0.9;
  line-height: 2.25rem;
}

/* End of Styles - Breadcrumbs */

/* Styles - Profile */
.section-profile {
  margin-bottom: 5vh;
  padding: 2.5rem;
}
/* End of Styles - Profile */

/* Styles - Footer */
.footer-section {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(252, 244, 4, 1));
}

.footer-brand {
  color: var(--bs-yellow);
  letter-spacing: 0.1875rem;
  font-size: 2.5rem;
  font-family: "Kanit";
  text-decoration: none;
}

.footer-brand:hover {
  color: var(--bs-yellow);
}

.brand-tagline {
  color: white;
  font-family: "Kanit";
  text-align: center;
  font-size: 1.2rem;
}

.footer-form-text {
  opacity: 0.9;
}

.contact-logo > a {
  text-decoration: none;
}

.footer-title {
  font-family: "Kanit";
  color: white;
  opacity: 0.9;
  margin-bottom: 1.5625rem;
  font-size: 2rem;
}

.footer-item-group {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.footer-item {
  margin-bottom: 0.3125rem;
}

.footer-item a {
  font-family: "Kanit";
  color: white;
  opacity: 0.67;
  font-size: 1.3rem;
  text-decoration: none;
}

.footer-item a:hover {
  opacity: 1;
}

.left-col {
  position: relative;
}

.footer-or {
  font-family: "Kanit";
  color: white;
  margin-bottom: 1.5625rem;
  font-size: 2rem;
  opacity: 1;
}

.footer-form-text {
  color: white;
  opacity: 1;
}

.copyright-text {
  color: black;
  font-family: "Kanit";
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* End of Styles - Footer */

/* Media Queries */

/* Extra Large Breakpoint */
@media only screen and (max-width: 74.9375rem) {
  /* Nav */
}

/* Large Breakpoint */
@media only screen and (max-width: 61.9375rem) {
  /* Nav */

  /* Profile */

  /* Footer */
  .footer-item-group {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }

  .row-footer-item-group {
    display: flex;
    flex-direction: column;
  }
}

/* Medium Breakpoint */
@media only screen and (max-width: 47.9375rem) {
  /* Nav */
  .nav-signIn {
    display: none;
  }

  .dropdown-signIn {
    display: block !important;
  }

  .navbar-nav {
    margin-right: -4.375rem;
  }

  .img-col img {
    width: 45rem !important;
  }

  .navbar-brand {
    margin-left: 5rem;
  }

  .navbar-expand .navbar-nav .dropdown-menu {
    top: 0.625rem !important;
    right: -4.625rem !important;
  }

  /* Profile */

  /* Footer */
  .row-footer-whole {
    flex-direction: column;
    gap: 1.5625rem;
    justify-content: center;
    align-items: center;
  }

  .copyright-text {
    bottom: -500px;
  }

  .footer-connect-section {
    display: none;
  }

  .row-footer-item-group {
    justify-content: center;
    align-items: center;
  }

  .message-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .message-footer-section > * {
    min-width: 100%;
  }

  .footer-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Small Breakpoint */
@media only screen and (max-width: 35.9375rem) {
  /* Nav */
  .nav-signIn {
    display: none;
  }

  .dropdown-signIn {
    display: block !important;
  }

  .navbar-nav {
    margin-right: -4.375rem;
  }

  .img-col img {
    width: 45rem !important;
  }

  .navbar-brand {
    margin-left: 5rem;
  }

  .navbar-expand .navbar-nav .dropdown-menu {
    top: 0.625rem !important;
    right: -4.625rem !important;
  }
}
